<div id="<%= dom_id movie %>">
  <p>
    <strong>Title:</strong>
    <%= movie.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movie.description %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= movie.year %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movie.director %>
  </p>

  <p>
    <strong>Actor:</strong>
    <%= movie.actor %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= movie.location %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= movie.country %>
  </p>

  <p>
  <strong>Average Rating:</strong>
  # TODO; add 0 as default value for average_rating
  <%= movie.average_rating || 0.0 %>
  </p>

</div>
