<p style="color: green"><%= notice %></p>

<h1>Movies</h1>

<%= form_tag('/movies', method: :get) do %>
  <div class="form-group">
    <%= text_field_tag :q, params[:q], placeholder: "Search...", class: "form-control" %>
  </div>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>

<%= link_to "New movie", new_movie_path %>
